---

interface Props {
    title: string;
    description: string;
    series: string;
    release?: string;
    genres?: string[];
}

const { title, series, description, release, genres = [] } = Astro.props;
---

<article class="w-full flex flex-col md:flex-row bg-neutral text-neutral-content rounded-sm shadow-block">
    <div class="aspect-[2/3] max-h-96 col-span-2 grid place-items-center text-center">
        <p class="aspect-[2/3] max-h-96 bg-primary text-primary-content p-4">
            <small> &lt;maybe some day a cool cover if I can afford to commission one&gt; </small>
        </p>
    </div>
    <div class="h-full w-full flex flex-col justify-between">
        <div class="md:h-80 p-4 overflow-y-auto">
            <h3 class="text-lg font-bold capitalize">{title}</h3>
            <h4 class="text-sm mb-3">{series}</h4>

            <div>
                <h5 class="font-bold mb-1">Genres</h5>
                <ul class="flex flex-wrap gap-1">
                    { genres.map(g =>
                            <li class="p-1 w-24 text-sm text-center bg-primary text-primary-content rounded-full">{g}</li>)
                    }
                </ul>
            </div>
            <div>
                <h5 class="font-bold mb-1 mt-3">Description</h5>
                <p>
                    {description}
                </p>
            </div>
            <div>
                <h5 class="font-bold mb-1 mt-3">Synopsis</h5>
                <div class="flex flex-col gap-2.5 leading-tight">
                    <slot>
                        <p>TBD</p>
                    </slot>
                </div>
            </div>
        </div>

        <div class="bg-secondary text-secondary-content flex justify-between items-end h-16 p-4">
            <slot name="footer" />
            <p class="text-end">
                Release:
                {
                    release &&  <time datetime={release}>
                                    {new Date(Date.parse(release)).toLocaleDateString()}
                                </time>
                }
                { !release && <span>TBA</span> }
            </p>
        </div>
    </div>
</article>
